.content {
  width: 99.4%;
}

.heading {
  font-weight: 500;
  padding-left: 15px;
  font-size: 18px;
}
.btn-save {
  background-color: #7952b3;
  width: 200px;
}

.btn-div {
  text-align: right;
  margin: 5px;
}

.heading {
  margin: 5px;
}
