.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-center {
  text-align: center;
}


.invoice-text {
    padding-top: 15px;
    font-weight: 500;
    font-size: 20px;
}