/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */


.main {
  width: 100%;
}


.padding-0{
    padding-right:0;
    padding-left:0;
}